html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Lato, sans-serif;
  background-color: #eee9de;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

section {
  padding: 2em 0;
}

img {
  display: block;
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  border-radius: 6px;
  border: 3px solid #333;
  background-color: #eee9de;
  padding: .4em .75em .5em;
  font-size: 1rem;
  color: #333;
  text-decoration: none;
}

h2 {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0 0 1em;
}

p {
  display: inline-block;
  text-align: left;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-weight: lighter;
}

.p {
  vertical-align: middle;
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  text-align: left;
}

.img {
  vertical-align: middle;
  display: inline-block;
  max-width: 25em;
  padding: 1em;
}

.btn:hover {
  background-color: #666;
}
